:root{
    --wbr-primary-color:#9003fc;
    --wbr-secondary-color:#5a009e;
    --wbr-white-color: #eee;
    --wbr-link-color: #9003fc;
}
a, button, .btn-primary{
    color: var(--wbr-link-color);
}
.page-id-846 {
    background: #eee;
}
.wpr-card-header h5 a {
    color: #333;
}
.wpr-card {
    min-height: 390px;
    background: #fff;
}

.wpr-card > .title {
    margin-bottom: 8px;
}

.wpr-card > .author,
.wpr-card > .publisher,
.wpr-card > .subject,
.wpr-card > .details {
    margin-bottom: 4px;
}
.wpr-card-header h5 {
    font-size: 22px;
}
.header-buy-btn {
    font-size: 11px;
    padding: 5px;
    background-color: #fff;
    border: none;
    color: var(--wbr-primary-color);
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top: 10px;
    text-decoration: none !important;
    border-radius: 0;
    border: 1px solid var(--wbr-primary-color);
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 500;
}
.header-buy-btn > i{
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: scale(0);
}
.header-buy-btn:after {
    content: '';
    background: var(--wbr-primary-color);
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: .4s ease-out;
    z-index: -1;
}
.header-buy-btn:hover:after {
    width: 100%;
}
.header-buy-btn:hover {
    background: transparent;
    color: #fff;
    border-color: var(--wbr-primary-color);
}
.wpr-card h2 {
    margin-top: 0;
}
.header-buy-btn:hover > i{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transform-origin: left;
    
}
.book-and-author{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.wpr-review-product-thumb img {
    max-width: 100px;
}
.wpr-review-product-thumb {
    max-width: 110px;
}
.wpr-book-info p {
    margin-bottom: 5px;
    padding-left: 35px;
    position: relative;
    margin-top: 8px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}
.wpr-book-info p i {
    position: absolute;
    left: 0;
}

.wpr-book-info p:last-child {
    border: none;
}
.wpr-book-info {
    margin-top: 12px;
}
.wpr-card-header h5 a {
    text-decoration: none;
    font-weight: 700;
}   
.wpr-single-comment {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
/* Style for filled stars */
.wpr-single-comment .star-filled {
    color: gold; /* You can use any color you prefer */
}

/* Style for empty stars */
.wpr-single-comment .star-empty {
    color: #ccc; /* Adjust the color for empty stars */
}

.wpr-single-comment .show-more-btn, .wpr-single-comment .show-less-btn {
    border: none;
    padding: 5px 10px;
    text-decoration: underline;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    width: 100px;
    padding-left: 0;
}

.wpr-single-comment .show-more-btn:hover, .wpr-single-comment .show-less-btn:hover {
    background: none;
    text-decoration: none;
    color: #333;
}

.truncated-comment {
    margin-bottom: 0;
}

.wpr-card-body {
    max-height: 400px;
    min-height: 180px;
}

.wpr-card-header {
    height: 210px;
    overflow-y: scroll;
    padding: 20px 12px;
}
/** 
** New CSS
**/
.wpr-card-header .header-banner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wpr-card-header .header-banner .thumbnail {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 35%;
}

.wpr-card-header .header-banner .right-title {
    width: 65%;
}

.wpr-card-header {
    background: rgba(144, 3, 252,0.2);
    /* border: 3px solid rgba(144, 3, 252);
    border-radius: 12px !important; */
}
.wpr-card-header .header-banner .right-title .label-text {
    background: #333;
    color: #fff;
    text-align: center;
}
.wpr-single-comment:last-child {
    border-bottom: none;
}
.wpr-card-body .title-description a {
    text-decoration: none;
    color: #333;
    line-height: 30px;
    font-weight: 600;
}

.wpr-card-body .title-description {
    padding: 10px;
    margin-top: 12px;
}

/**
* Reinstate scrolling for non-JS clients
*/
.simplebar-content-wrapper {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
    }

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
display: initial;
width: initial;
height: initial;
}

/* Hide scrollbar track (background) */
.wpr-card-body::-webkit-scrollbar, .wpr-card-header::-webkit-scrollbar {
    background-color: transparent;
}

/* Hide scrollbar handle (thumb) */
.wpr-card-body::-webkit-scrollbar-thumb, .wpr-card-header::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Optional: Specify scrollbar width */
.wpr-card-body::-webkit-scrollbar, .wpr-card-header::-webkit-scrollbar {
    width: 0.5em;
}

.simplebar-scrollbar::before {
    background-color: var(--wbr-primary-color);
}

.wpr-book-info p i {
    color: var(--wbr-white-color);
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background: var(--wbr-primary-color);
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    font-size: 12px;
}
.wpr-single-comment .comment-actions button i{
    font-size: 22px;
}
.wpr-single-comment .comment-actions button {
    border: none;
    padding: 5px 10px;
    transition: .3s;
}

.wpr-single-comment .comment-actions button:hover {
    background: none;
    color: var(--wbr-primary-color);
    transform: scale(1.2);
}

.wpr-single-comment .comment-actions {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 5px 0;
    margin: 15px 0;
}

.wpr-single-comment {
    margin-bottom: 10px;
    /* border: 1px solid #ddd; */
    /* background: #fff; */
    /* padding: 10px; */
    /* border-radius: 10px; */
}

.wpr-single-comment .author-meta {
    display: flex;
    gap: 10px;
    align-items: center;
}

.wpr-single-comment .author-meta .author-avatar, .wpr-single-comment .author-meta .author-avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.wpr-single-comment .author-meta .author-and-count a {
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.wpr-single-comment .author-meta  .author-and-count {
    margin-left: 15px;
}
.wpr-card-body {
    padding: 0;
}
.wpr-single-comment:first-child {
    margin-top: 10px;
}
.wpr-single-comment {
    margin-left: 10px;
    margin-right: 10px;
}
.wpr-single-comment .comment-actions button i {
    margin-right: 8px;
}

.wpr-single-comment .comment-actions button {
    font-size: 12px;
}

.wpr-single-comment .comment-actions {
    display: flex;
    justify-content: space-between;
}
.wpr-single-comment .comment-actions button:focus {
    background: none;
    color: var(--wbr-primary-color);
}
.wpr-single-comment .comment-actions button {
    font-size: 12px;
    display: flex;
    align-items: center;
}

/* // Review CPT  */
.load-more-rev-container{
    margin: auto;
}
#load-more-reviews{
    width: auto;
    display: block;
    margin: auto;
}