.page-id-846 {
    background: #eee;
}
.wpr-card {
    min-height: 450px;
    background: #fff;
}

.wpr-card > .title {
    margin-bottom: 8px;
}

.wpr-card > .author,
.wpr-card > .publisher,
.wpr-card > .subject,
.wpr-card > .details {
    margin-bottom: 4px;
}

.wpr-card h2 {
    margin-top: 0;
}

.book-and-author{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.wpr-review-product-thumb img {
    max-width: 70px;
}
.wpr-review-product-thumb {
    display: flex;
    justify-content: end;
    align-items: baseline;
    max-width: 80px;
}
.wpr-book-info p {
    margin-bottom: 5px;
}

.wpr-book-info {
    margin-top: 12px;
}
.wpr-card-header h5 a {
    text-decoration: none;
}

.wpr-single-comment {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
/* Style for filled stars */
.wpr-single-comment .star-filled {
    color: gold; /* You can use any color you prefer */
}

/* Style for empty stars */
.wpr-single-comment .star-empty {
    color: #ccc; /* Adjust the color for empty stars */
}

.wpr-single-comment .show-more-btn, .wpr-single-comment .show-less-btn {
    border: none;
    padding: 5px 10px;
    text-decoration: underline;
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    width: 100px;
    padding-left: 0;
}

.wpr-single-comment .show-more-btn:hover, .wpr-single-comment .show-less-btn:hover {
    background: none;
    text-decoration: none;
}

.truncated-comment {
    margin-bottom: 0;
}